<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
    <title>Django blog - {{ title }}</title>
    {% else %}
    <title>Django blog - Default title</title>
    {% endif %}
  </head>
  <body>
    <h1>Blog Home!</h1>
    {% for post in posts %}
    <h2>{{ post.title }}</h2>
    <h4>{{post.author}} - {{post.date_posted}}</h4>
    <p>{{ post.content }}</p>
    {% endfor %}
  </body>
</html>
